$color-background: #f6f6f6;
$color-component-background: #fff;
$color-component-border: #dcdcdc;
$color-checkbox-checked: #0375ff;
$color-checkbox-border: #bdbdbd;
$color-font: #333;
$color-font-light: #fff;
$color-font-disabled: #bdbdbd;
$color-font-label: #808080;
$color-font-link: #007aff;
$color-input: #666;
$color-primary: #00a0e9;
$color-secondary: #f48d00;
$color-tertiary: #cfd8dc;
$color-warning: #dd2c00;
$color-success: #27ae60;
$color-danger: #e74c3c;
$color-count-button: #4d5269;
$color-loading-spot: #219653;
$color-delivery-spot: #ff3231;
$color-alert: #ff7d6e;
$color-alert-background: #ffebe9;
$color-table-header: #e4e5e8;
$color-table-caption: #40b56d;

$color-pink: #ff4081;
$color-white: #fff;
$color-red: #d70c18;
$color-black-5: rgba(0, 0, 0, 0.05);
$color-black-12: rgba(0, 0, 0, 0.12);
$color-black-25: rgba(0, 0, 0, 0.26);
$color-black-50: rgba(0, 0, 0, 0.52);
$color-black-54: rgba(0, 0, 0, 0.54);
$color-ana-cargo: #1d2088;
$color-jal-cargo: #fa0019;
